*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f5f5;
}

/* Navbar */

.navbar{
    background:#222;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 60px;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.nav-links{
    list-style:none;
    display:flex;
}

.nav-links li{
    margin-left:25px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.nav-links a:hover{
    color:#5d00ff;
}

/* Hero */

.hero{
    background:linear-gradient(to right,#4facfe,#fe5000);
    color:white;
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:48px;
}

.hero p{
    margin:15px 0;
    font-size:20px;
}

.hero button{
    padding:12px 25px;
    border:none;
    background:#ff9800;
    color:white;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

.hero button:hover{
    background:#e68900;
}

/* Products */

.products{
    padding:50px;
    text-align:center;
}

.products h2{
    margin-bottom:30px;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.product-card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
}

.product-card img{
    width:100%;
    border-radius:10px;
}

.product-card h3{
    margin:15px 0 10px;
}

.product-card p{
    color:#28a745;
    font-weight:bold;
    margin-bottom:15px;
}

.product-card button{
    background:#ea00ff;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

.product-card button:hover{
    background:#b3007d;
}

/* Footer */

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

/* Responsive */

@media(max-width:768px){

.navbar{
    flex-direction:column;
}

.nav-links{
    margin-top:15px;
    flex-direction:column;
    align-items:center;
}

.nav-links li{
    margin:10px 0;
}

.hero h1{
    font-size:35px;
}

}